@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.hide{
  display: none;
}

body {
  margin: 0px;
  background-color: hsl(0, 0%, 94%);
  font-family: "Gowun Dodum", serif;
  font-weight: 400;
  font-style: normal;
}

ul {
  margin: 50px;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-auto-rows: 390px;
  /* row가 몇개 생길지 모를때, 세로 사이즈는 350px 로 고정해주세요! 라는 의미 */
  grid-gap : 1rem;
}

.movie-card {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;

  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
}

.movie-card:hover {
  transform: scale(1.02);
}

.movie-image {
  border-radius: 10px;
  width: 100%;
}

.movie-name {
  font-weight: bold;
  font-size: 1.2em;
  margin: 8px;
}

#searchArea {
  background-color: rgb(43, 43, 63);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
}

input {
  width: 60%;
  height: 40px;
  border: solid 3px lightblue;
  border-radius: 20px;
  padding-left: 15px;
  font-size: 1rem;
}

.bookmark-style {
  margin-top: 20px;
}

.no_dot {

  list-style-type: none;

}